In [7]:
def mod(a,b):
    return a%b

In [8]:
from sympy.ntheory import randprime
import random
import pandas as pd
def Fiat_Shamir_protocol(p,q,k):
    while(k):
        k=k-1
        n=p*q
        n1.append(n)
        s=random.randint(1,n)
        v=mod(s**2,n)
        v1.append(v)
        r=random.randint(0,n)
        r1.append(r)
        x=mod(r**2,n)
        x1.append(x)
        c=random.randint(0,1)
        c1.append(c) #sends this x to bob as witness
        y=r*(s**c) #alice calculates y and sends it to bob
        res1=mod(y**2,n) #bob calculates res1 and res2 .
        res2=mod(x*(v**c),n) #if both are equal , then alice is honest.
        res11.append(res1)
        res21.append(res2)
        if(res1==res2):
            output1.append("Probable")
        else:
            print("Improbable")
            break
p = randprime(2 ** 10, 2 ** 11)
q = randprime(2 ** 10, 2 ** 11)
column_names = ['x','v','n','r','c','y2 mod n','xv^c mod n','Output']
df = pd.DataFrame(columns = column_names)
x1=[]
v1=[]
n1=[]
r1=[]
c1=[]
res11=[]
res21=[]
output1=[]
Fiat_Shamir_protocol(p,q,10)
df['x']=x1
df['v']=v1
df['n']=n1
df['r']=r1
df['c']=c1
df['y2 mod n']=res11
df['xv^c mod n']=res21
df['Output']=output1
df

         x        v        n        r  c  y2 mod n  xv^c mod n    Output
0   436231  1402349  1660621   352142  0    436231      436231  Probable
1    89595   213682  1660621   304531  0     89595       89595  Probable
2  1484759   413829  1660621  1591430  0   1484759     1484759  Probable
3   306672   622067  1660621  1283530  0    306672      306672  Probable
4  1372031  1475723  1660621  1640212  1    639848      639848  Probable
5  1315283  1026337  1660621   617722  0   1315283     1315283  Probable
6   149563   863618  1660621  1091968  0    149563      149563  Probable
7  1148288  1660395  1660621   226336  0   1148288     1148288  Probable
8   440621  1119037  1660621    25878  0    440621      440621  Probable
9  1583286  1093722  1660621  1223360  1    739765      739765  Probable

**FEIGE-FIAT-SHAMIR-PROTOCOL**

In [9]:
import random
import pandas as pd
def Feige_Fiat_Shamir_protocol(p,q,k):
    while(k):
        k=k-1
        n=p*q
        n1.append(n)
        r=random.randint(1,n)
        r1.append(r)
        s1=random.randint(1,n)
        s11.append(s1)
        s2=random.randint(1,n)
        s21.append(s2)
        s3=random.randint(1,n)
        s31.append(s3)
        a1=random.randint(0,1)
        a11.append(a1)
        a2=random.randint(0,1)
        a21.append(a2)
        a3=random.randint(0,1)
        a31.append(a3)
        x = (r**2) % n
        x1.append(x)
        y = (r * ((s1**a1) * (s2**a2) * (s3**a3)) ) % n
        v1=(s1**2) %n
        v11.append(v1)
        v2=(s2**2) %n
        v21.append(v2)
        v3=(s3**2) %n
        v31.append(v3)
        y2 = (x * ( (v1**a1) * (v2**a2) * (v3**a3)) ) % n
        res1=(y**2) %n
        res11.append(res1)
        res2=y2%n
        res21.append(res2)
        if(res1==res2):
            output1.append("Probable")
        else:
            print("Improbable")
            break
p = randprime(2 ** 10, 2 ** 11)
q = randprime(2 ** 10, 2 ** 11)
column_names = ['n','r','s1','s2','s3','a1','a2','a3','x1','v1','v2','v3','res1','res2','Output']
df = pd.DataFrame(columns = column_names)
n1=[]
r1=[]
s11=[]
s21=[]
s31=[]
a11=[]
a21=[]
a31=[]
x1=[]
v11=[]
v21=[]
v31=[]
res11=[]
res21=[]
output1=[]
Feige_Fiat_Shamir_protocol(p,q,10)
df['n']=n1
df['r']=r1
df['s1']=s11
df['s2']=s21
df['s3']=s31
df['a1']=a11
df['a2']=a21
df['a3']=a31
df['x1']=x1
df['v1']=v11
df['v2']=v21
df['v3']=v31
df['res1']=res11
df['res2']=res21
df['Output']=output1
df

,n,r,s1,s2,s3,a1,a2,a3,x1,v1,v2,v3,res1,res2,Output
0,1851989,51323,58409,1654598,224598,0,1,1,521971,247543,1062299,1637211,1136216,1136216,Probable
1,1851989,83427,360538,1847681,1299780,1,0,1,289667,245512,38974,1086853,176525,176525,Probable
2,1851989,1620220,200659,675758,544085,1,0,1,1780405,1793421,242856,1009498,1543950,1543950,Probable
3,1851989,860364,691282,1180716,1192892,0,0,1,1025108,229865,1848928,759602,1607988,1607988,Probable
4,1851989,424440,105231,848482,691147,1,1,1,787603,521130,1724332,652839,816018,816018,Probable
5,1851989,615114,1500381,851751,1536082,0,0,0,176318,511958,115031,953395,176318,176318,Probable
6,1851989,1766274,454636,401157,1567228,0,1,1,220862,808162,206483,1340745,617271,617271,Probable
7,1851989,223304,1482307,778015,749807,1,1,1,1724580,956847,1403476,384530,1846370,1846370,Probable
8,1851989,1077713,518517,441364,1441802,0,0,0,1520953,1080192,717531,174319,1520953,1520953,Probable
9,1851989,1056847,666563,1462058,1246306,1,0,1,275454,1107946,1591839,655424,975295,975295,Probable

In [10]:
def euler(p, q):
    return ((p - 1) * (q - 1))
def NOD(a, b): 
    while a != 0 and b != 0:
        if a > b:
            a %= b
        else:
            b %= a
    gcd = a + b  
    return (gcd)
def bezout(a, b):
    oldB = b
    x, xx, y, yy = 1, 0, 0, 1
    while b:
        q = a // b
        a, b = b, a % b
        x, xx = xx, x - xx*q
        y, yy = yy, y - yy*q
    if(x < 0):
        x = x + oldB
    return (x)
def modInverse(a, m): 
    a = a % m 
    for x in range(1, m): 
        if ((a * x) % m == 1): 
            return x 
    return 1

In [11]:
import math
def Gullou_quisquater_protocol(p,q,k):
    while(k>0):
        k=k-1
        n = p * q
        n1.append(n)
        f = euler(p,q)
        f1.append(f)
        e = random.randint(1, f)
        while(NOD(e, f) != 1):
            e = e + 1
        e1.append(e)
        s = bezout(e,f)
        s1.append(s)
        v = modInverse(s**e,n)
        if v==1:
            continue
        v1.append(v)
        r=random.randint(1,n)
        r1.append(r)
        x=(r**e)%n
        x1.append(x)
        c=random.randint(1,e)
        c1.append(c)
        y=(r*(s**c))%n
        y1.append(y)
        res1=x
        res11.append(res1)
        res2=(((y**e))*((v**c)))%n
        res21.append(res2)
        if(res1==res2):
            output1.append("Probable")
        else:
            output1.append("Improbable")
p = 23
q = 19
column_names = ['n','f','e','s','v','r','x','c','y','res1','res2','Output']
df = pd.DataFrame(columns = column_names)
n1=[]
f1=[]
e1=[]
s1=[]
v1=[]
r1=[]
x1=[]
c1=[]
y1=[]
res11=[]
res21=[]
output1=[]
Gullou_quisquater_protocol(p,q,10)
df['n']=n1
df['f']=f1
df['e']=e1
df['s']=s1
df['v']=v1
df['r']=r1
df['x']=x1
df['c']=c1
df['y']=y1
df['res1']=res11
df['res2']=res21
df['Output']=output1
df

     n    f    e    s    v    r    x    c    y  res1  res2    Output
0  437  396  391   79  433  408  310   22  178   310   310  Probable
1  437  396  193  277  254    2   41   78    2    41    41  Probable
2  437  396  329   65   65  144  349  126   49   349   349  Probable
3  437  396  335  383  401  436  436  270   56   436   436  Probable
4  437  396  185  137  275   31  331  140  261   331   331  Probable
5  437  396  145  325  409  373  297   49  226   297   297  Probable
6  437  396  283    7  182  195  245   65  340   245   245  Probable
7  437  396   43  175  244  244   74   16   20    74    74  Probable
8  437  396   41   29   32   29   41   15  232    41    41  Probable
9  437  396  323  179  236  268   67  119  157    67    67  Probable